.career {
  &__title {
    margin-bottom: 2rem;
    font-family: $mont;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.5rem;
  }

  &__desc {
    margin-bottom: 3rem;
    width: 106rem;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $grayDark;

    a {
      color: $blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__quote {
    display: flex;
    align-items: center;
    width: 106rem;
    margin-bottom: 4rem;
    padding: 3.2rem 5rem 3.2rem 2.5rem;
    border: 1px solid #EBECF0;
  }

  &__quote-icon {
    flex: none;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 2.5rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__quote-text-block {
    flex: auto;
    padding-left: 4rem;
    border-left: 1px solid #D4D4D8;
  }

  &__quote-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $blue;
  }

  &__quote-name {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  &__contacts-box {
    margin-bottom: 4rem;
    border-top: 1px solid #D4D4D8;
    border-bottom: 1px solid #D4D4D8;
    background-color: $grayLight;
    overflow: hidden;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3.4rem 0;
    }
  }

  &__contacts-separator {
    position: relative;
    width: 1px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 10.6rem;
      transform: skew(-30deg) translate(-3rem,-50%);
      background-color: #D4D4D8;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 5.6rem;
    font-family: $mont;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.6rem;

    a {
      font-size: 2rem;
      line-height: 2.4rem;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;

    > svg {
      flex: none;
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
    }

    > a:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__search-label {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
    padding: 2.4rem;
    border: 1px solid #D4D4D8;

    > svg {
      flex: none;
      width: 2.8rem;
      height: 2.8rem;

      path {
        stroke: #84878C;
      }
    }

    > input {
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 1.7rem;

      &::placeholder {
        color: #84878C;
      }
    }

    &.focus {
      border: 1px solid $black;

      > svg {
        path {
          stroke: $black;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__item {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__text-block {
    width: 96rem;
    padding: 6rem;
    border: 1px solid #D4D4D8;
  }

  &__text-content {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $grayDark;

    ul {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      > li {
        position: relative;
        padding-left: 3.4rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 1.8rem;
          height: 2px;
          transform: translateY(-50%);
          background-color: $grayDark;
        }
      }
    }

    &.active {
      > ul {
        display: block;
      }
    }
  }

  &__item-title {
    margin-bottom: 5rem;
    font-family: $mont;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.3rem;
  }

  &__item-list-name {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  &__text-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $blue;
    text-decoration: underline;

    > svg {
      width: 1.2rem;
      height: 0.6rem;

      path {
        fill: $blue;
      }
    }

    &:hover {
      text-decoration: none;
    }

    .show {
      display: none;
    }

    &.active {
      .show {
        display: block;
      }

      .hide {
        display: none;
      }

      > svg {
        transform: scaleY(-1);
      }
    }
  }

  &__price-block {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47rem;
    height: auto;
    padding: 6rem 4rem;
    border: 1px solid #D4D4D8;
    border-left: none;
    background-color: $grayLight;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: -2.8rem;
      bottom: -3.6rem;
      z-index: 1;
      width: 7rem;
      height: 14rem;
      border-left: 1px solid #D4D4D8;
      background-color: white;
      transform: rotate(35deg);
    }
  }

  &__price-icon {
    width: 8rem;
    height: 8rem;
    margin: 0 auto 5rem auto;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__price {
    margin-bottom: 5rem;
    font-family: $mont;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.3rem;
    text-align: center;
  }

  &__btn {
    margin-top: auto;

    &:before {
      background-color: $blue;
    }
  }

  &__page-pagination {
    margin-top: 12rem;
  }
}

@media (max-width: 48em) {
  .career {
    &__title {
      margin-bottom: 4rem;
      line-height: 6rem;
    }

    &__desc {
      margin-bottom: 6rem;
      width: 100%;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
    }

    &__quote {
      flex-direction: column;
      width: 100%;
      margin-bottom: 6rem;
      padding: 5rem 4rem;
    }

    &__quote-icon {
      width: 6.4rem;
      height: 6.4rem;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    &__quote-text-block {
      padding-left: 0;
      padding-top: 4rem;
      border-left: none;
      border-top: 1px solid #EBECF0;
    }

    &__quote-title {
      font-size: 4rem;
      line-height: 4.8rem;
    }

    &__quote-name {
      margin-top: 4rem;
      font-weight: 400;
      font-size: 3rem;
      line-height: 3.6rem;
    }

    &__contacts-box {
      margin-bottom: 6rem;

      .container {
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        gap: 5rem;
        padding: 5rem 0;

        > .button {
          transform: translateX(2rem);
        }
      }
    }

    &__contacts-separator {
      display: none;
    }

    &__contacts {
      flex-direction: column;
      gap: 5rem;
      font-size: 3rem;
      line-height: 3.6rem;

      a {
        font-size: 3rem;
        line-height: 3.6rem;
      }
    }

    &__contact {
      &--phone {
        flex-direction: column;
        gap: 3rem;
      }

      > svg {
        width: 5rem;
        height: 5rem;
        margin-right: 2rem;
      }

      > a:not(:last-child) {
        margin-right: 0;
      }
    }

    &__search-label {
      gap: 3rem;
      margin-bottom: 8rem;
      padding: 4rem;

      > svg {
        width: 4.4rem;
        height: 4.4rem;
      }

      > input {
        font-size: 3rem;
      }
    }

    &__list {
    }

    &__item {
      display: block;
    }

    &__text-block {
      width: 100%;
      padding: 6rem 4rem;
    }

    &__text-content {
      font-size: 3rem;
      line-height: 4.5rem;

      ul {
        -webkit-line-clamp: 6;

        > li {
          padding-left: 4rem;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          &:before {
            top: 2rem;
            width: 2rem;
            transform: none;
          }
        }
      }
    }

    &__item-title {
      font-size: 5rem;
      line-height: 6rem;
    }

    &__item-list-name {
      font-size: 3rem;
      line-height: 4.5rem;
    }

    &__text-btn {
      margin-top: 4rem;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;

      > svg {
        width: 2.4rem;
        height: 1.2rem;
      }
    }

    &__price-block {
      width: 100%;
      padding: 7rem;
      border-left: none;
      border-top: 1px solid #D4D4D8;

      &:after {
        content: none;
      }
    }

    &__price-icon {
      width: 10rem;
      height: 10rem;
      margin: 0 auto 6rem auto;
    }

    &__price {
      margin-bottom: 8rem;
      font-size: 5rem;
      line-height: 6rem;
    }

    &__btn {
    }

    &__page-pagination {
    }
  }
}