.category-slider {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 167.5rem;
    margin-right: 0;
  }

  &__text-block {
    width: 37.5rem;
  }

  &__title {
    margin-bottom: 5rem;
    font-family: $mont;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.07;
  }

  &__slider-nav {
    margin-bottom: 5rem;
  }

  &__desc {
    margin-bottom: 6rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
  }

  &__separator {
    width: 32.2rem;
    height: 1px;
    margin-bottom: 2rem;
    background-color: #D4D4D8;
  }

  &__slider {
    width: 119rem;
    padding-top: 2rem;
    padding-right: 61.5rem;
    margin: -2rem 0 0 auto;
  }

  &__slide {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
    padding-top: 2rem;
    overflow: hidden;
    transition: width .5s ease;

    &.swiper-slide-active {
      ~ .category-slider__slide {
        width: 21rem !important;

        .category-slider__slide-title {
          opacity: 0;
        }

        .category-slider__slide-title-hide {
          opacity: 1;
        }

        .category-slider__qty-box {
          opacity: 0;
        }

        .category-slider__slide-text {
          opacity: 0;
        }
      }
    }
  }

  &__slide-content {
    flex: none;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 57.5rem;
    height: 100%;
    padding: 4.2rem 3.8rem;
    transition: transform .4s ease;

    &:hover {
      transform: translateY(-2rem);
    }
  }

  &__slide-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% - 18rem);
      background-color: $grayLight;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 18rem;
      transform: skew(-30deg) translateX(-5.2rem);
      background-color: $blue;
    }
  }

  &__slide-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__slide-title {
    width: 26.2rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.65;
    transition: opacity .25s ease;
  }

  &__slide-title-hide {
    position: absolute;
    left: 50%;
    top: 4.2rem;
    z-index: -1;
    width: 15rem;
    transform: translateX(-50%);
    opacity: 0;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    isolation: isolate;
    transition: opacity .25s ease;
  }

  &__qty-box {
    text-align: right;
    transition: opacity .25s ease;
  }

  &__qty {
    margin-bottom: 0.3rem;
    font-family: $mont;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1;
  }

  &__qty-text {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
    color: $gray;
  }

  &__slide-img-box {
    width: calc(100% + 7.6rem);
    height: 40rem;
    margin: auto -3.8rem 0 -3.8rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__slide-text {
    font-size: 2.4rem;
    line-height: 1.5;
    color: white;
    transition: opacity .25s ease;
  }
}

@media (max-width: 48em) {
  .category-slider {
    &__container {
      display: block;
      width: 100%;
    }

    &__text-block {
      width: 100%;
      margin-bottom: 6rem;
    }

    &__title {
      margin-bottom: 4rem;
      line-height: 6rem;
    }

    &__slider-nav {
    }

    &__desc {
      margin-bottom: 4rem;
      font-size: 2.6rem;
      line-height: 3.6rem;
    }

    &__separator {
    }

    &__slider {
      width: 75rem;
      padding: 0 20.2rem 0 4rem;
      margin: 0 -20.2rem 0 -4rem;
    }

    &__slide {
     &.swiper-slide-active {
        ~ .category-slider__slide {
          width: 25.4rem !important;
        }
      }
    }

    &__slide-content {
      width: 50.8rem;
      padding: 4rem;

      &:hover {
        transform: none;
      }
    }

    &__slide-bg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100% - 18rem);
        background-color: $grayLight;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 18rem;
        transform: skew(-30deg) translateX(-5.2rem);
        background-color: $blue;
      }
    }

    &__slide-title-box {
      flex-direction: column;
      justify-content: normal;
      gap: 2rem;
      margin-bottom: 0;
    }

    &__slide-title {
      width: 32rem;
      font-size: 3rem;
      line-height: 4.2rem;
    }

    &__slide-title-hide {
      width: 17rem;
      font-size: 3rem;
      line-height: 4.2rem;
    }

    &__qty-box {
      text-align: left;
    }

    &__qty {
      margin-bottom: 0;
      font-size: 4rem;
      line-height: 4.8rem;
    }

    &__qty-text {
      font-weight: 700;
      font-size: 3rem;
      line-height: 3.6rem;
    }

    &__slide-img-box {
      width: calc(100% + 8rem);
      height: 34rem;
      margin: auto -4rem 0 -4rem;
    }

    &__slide-text {
      font-size: 2.6rem;
      line-height: 3.6rem;
    }
  }
}