.docs {
  &__title {
    margin-bottom: 2rem;
    font-family: $mont;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.5rem;
  }

  &__desc {
    margin-bottom: 3.6rem;
    width: 106rem;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $grayDark;

    a {
      color: $blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__separator {
    border-bottom: 1px solid #D4D4D8;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.2rem;
    row-gap: 6rem;
    margin-top: 5.2rem;
  }

  &__slider {
    margin-bottom: 5.2rem;

    .docs__item {
      flex: none;
      max-width: none;
    }
  }

  &__item {
    flex: 22%;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 33.4rem;
  }

  &__img-box {
    width: 100%;
    height: 46.9rem;
    margin-bottom: 1.5rem;
    border: 1px solid #D4D4D8;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: $grayDark;
  }

  &__item-title {
    flex: auto;
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #D4D4D8;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  &__links {
    display: flex;
    column-gap: 4.5rem;
  }

  &__item-link {
    display: flex;
    column-gap: 1.5rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.5rem;
    text-decoration: underline;
    color: $blue;

    > svg {
      width: 2.3rem;
      height: 2.3rem;

      path {
        fill: $blue;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__slider-nav {
    margin-top: 3.6rem;

    .slider-nav__nav-content {
      justify-content: space-between;
    }
  }

  &__logo-download-box {
    margin-top: 8.8rem;
  }

  &__logo-download-text {
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
  }

  &__logo-download {
    display: flex;
    align-items: center;
    gap: 2rem;

    > a {
      display: block;
      width: fit-content;
      height: 4.8rem;

      > img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__page-pagination {
    margin-top: 12rem;
  }

  &__search-label {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
    padding: 2.4rem;
    border: 1px solid #D4D4D8;

    > svg {
      flex: none;
      width: 2.8rem;
      height: 2.8rem;

      path {
        stroke: #84878C;
      }
    }

    > input {
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 1.7rem;

      &::placeholder {
        color: #84878C;
      }
    }

    &.focus {
      border: 1px solid $black;

      > svg {
        path {
          stroke: $black;
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .docs {
    &__title {
      margin-bottom: 5rem;
      line-height: 6rem;
    }

    &__desc {
      margin-bottom: 5rem;
      width: 100%;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
    }

    &__separator {
    }

    &__content {
      row-gap: 7rem;
      margin-top: 4rem;
    }

    &__slider {
      margin-bottom: 6rem;

      .docs__item {
        flex: none;
        max-width: none;
      }
    }

    &__item {
      flex: 45%;
      max-width: 32rem;
    }

    &__img-box {
      height: 45.2rem;
      margin-bottom: 2rem;
    }

    &__item-title {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      font-size: 3.4rem;
      line-height: 4rem;
    }

    &__links {
      flex-direction: column;
      row-gap: 2rem;
    }

    &__item-link {
      column-gap: 2rem;
      font-size: 3rem;
      line-height: 4.5rem;

      > svg {
        width: 4rem;
        height: 4rem;
      }
    }

    &__slider-nav {
      margin-top: 4rem;
    }

    &__logo-download-box {
      margin-top: 10rem;
    }

    &__logo-download-text {
      margin-bottom: 4.8rem;
      font-weight: 700;
      font-size: 3rem;
    }

    &__logo-download {
      flex-direction: column;
      align-items: normal;
      gap: 2rem;

      > a {
        height: 7.6rem;
      }
    }

    &__search-label {
      gap: 3rem;
      margin-bottom: 8rem;
      padding: 4rem;

      > svg {
        width: 4.4rem;
        height: 4.4rem;
      }

      > input {
        font-size: 3rem;
      }
    }
  }
}