@import "param";

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 44.3rem;

  @media (max-width: 48em) {
    padding-bottom: 260rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;

  &__bg {
    &:before {
      content: '';
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 99%;
      width: 32rem;
      height: 14rem;
      background-color: $blue;
    }

    > span:nth-child(1) {
      position: absolute;
      left: -1rem;
      top: -9.6rem;
      width: 100%;
      height: 15rem;
      transform: rotate(-4.5deg);
      background-color: $blue;
    }

    > svg {
      &:nth-child(1),
      &:nth-child(2) {
        position: absolute;
        bottom: calc(100% + 9rem);
        right: 0;
        z-index: 6;
        width: 23rem;
        height: 31.2rem;

        path {
          fill: $blue;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 6;
        width: 24.8rem;
        height: 33.4rem;

        path {
          fill: $red;
        }
      }
    }
  }

  &__content-top {
    z-index: 3;
    padding-bottom: 6rem;
    isolation: isolate;
    background-color: $blue;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
    color: white;
  }

  &__box {
    &:nth-child(1) {
      width: 26rem;
    }

    &:nth-child(2) {
      width: 26rem;
    }

    &:nth-child(3) {
      width: 36rem;
    }

    &:nth-child(4) {
      width: 26rem;
    }
  }

  &__logo {
    display: block;
    width: 25.9rem;
    height: 5rem;
    margin-bottom: 3.8rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__tel {
    display: block;
    margin-bottom: 3.8rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
    color: white;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__address {
    display: block;
    margin-bottom: 3.8rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5;
    color: white;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;

    > img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }

    > span {
      transform: translateY(2px);
    }

    &:hover {
      filter: brightness(.75);
    }
  }

  &__box-title {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__list-item {
    opacity: .6;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.4;
    color: white;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__content-bottom {
    padding: 3rem 0;
    border-top: 1px solid #D4D4D833;
    background-color: $blue;

    .footer__container {
      align-items: center;
    }
  }

  &__link-bottom {
    opacity: .6;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.4;
    color: white;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__request {
    display: block;
    width: 17.3rem;
    height: 4rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
}

@media (max-width: 48em) {
  .footer {
    z-index: 1;

    &__bg {
      &:before {
        content: '';
        position: absolute;
        right: 0;
        z-index: -1;
        bottom: 99%;
        width: 8rem;
        height: 14rem;
        background-color: $blue;
      }

      > span:nth-child(1) {
        position: absolute;
        left: -1rem;
        top: -9.6rem;
        width: 100%;
        height: 15rem;
        transform: rotate(-4.5deg);
        background-color: $blue;
      }

      > svg {
        &:nth-child(2),
        &:nth-child(3) {
          position: absolute;
          bottom: calc(100% + 11rem);
          right: 0;
          z-index: 6;
          width: 22.6rem;
          height: 30.4rem;

          path {
            fill: $blue;
          }
        }

        &:nth-child(4),
        &:nth-child(5) {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 6;
          width: 22.6rem;
          height: 30.4rem;

          path {
            fill: $red;
          }
        }
      }
    }

    &__content-top {
      padding-bottom: 6rem;
    }

    &__container {
      flex-direction: column;
      justify-content: normal;
      gap: 6rem;
      font-weight: 400;
      font-size: 3rem;
    }

    &__box {
      &:nth-child(n) {
        width: 100%;
      }
    }

    &__logo {
      width: 33rem;
      height: 6.4rem;
      margin-bottom: 4rem;
    }

    &__tel {
      margin-bottom: 4rem;
      font-weight: 400;
      font-size: 3rem;
    }

    &__address {
      margin-bottom: 5rem;
      font-size: 3rem;
    }

    &__social {
      gap: 2rem;
      font-size: 3rem;

      > img {
        width: 4.8rem;
        height: 4.8rem;
      }

      > span {
        transform: translateY(1px);
      }
    }

    &__box-title {
      margin-bottom: 4rem;
      font-size: 3rem;
    }

    &__list {
      gap: 2.4rem;
    }

    &__list-item {
      font-weight: 400;
      font-size: 3rem;
    }

    &__content-bottom {
      padding: 6rem 0;

      .footer__container {
        gap: 5rem;

        > *:not(.footer__request) {
          opacity: .6;
        }
      }
    }

    &__link-bottom {
      font-size: 3.4rem;
    }

    &__request {
      width: 34.6rem;
      height: 8rem;
    }
  }
}