.form {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  &__item {
    &.select-label {
      padding-right: 4rem;
    }

    &--30 {
      flex: 30%;
      max-width: 45.5rem;
    }

    &--50 {
      flex: 45%;
      max-width: 69.9rem;
    }

    &--100 {
      flex: 100%;
    }
  }

  &__label {
    position: relative;
    display: block;
    height: 7rem;
    border: 1px solid #D4D4D8;

    &:hover {
      background-color: rgba(50, 50, 50, 0.03);
    }

    &.focus {
      border: 1px solid $grayDark;
    }

    .error-icon {
      display: none;
      position: absolute;
      right: 2.5rem;
      top: 50%;
      width: 3rem;
      height: 3rem;
      transform: translateY(-50%);
    }

    &.error {
      border: 1px solid $red;

      input,
      textarea {
        padding-right: 6.5rem;
      }

      .error-icon {
        display: block;
      }
    }

    &--textarea {
      width: fit-content;
      height: auto;
      border: none;

      .error-icon {
        top: 2rem;
        right: 2.4rem;
        transform: none;
      }

      &.error {
        border: none;

        textarea {
          border: 1px solid $red;
        }
      }
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0 2.4rem;
    font-weight: 500;
    font-size: 1.7rem;

    &::placeholder {
      color: $grayDark;
    }
  }

  &__upload-box {
    display: flex;
    align-items: center;

    &.complete {
      .form__upload {
        display: none;
      }

      .form__file {
        display: flex;
      }
    }
  }

  &__upload {
    flex: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    width: fit-content;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.5rem;
    cursor: pointer;

    > svg {
      width: 8.4rem;
      height: 5.4rem;

      path {
        transition: fill .25s ease;

        &:first-child {
          fill: $blue;
        }

        &:last-child {
          fill: white;
        }
      }
    }

    > input {
      display: none;
    }

    &:hover {
      > svg {
        path {
          &:first-child {
            fill: $red;
          }
        }
      }
    }
  }

  &__file {
    display: none;
    align-items: center;
    gap: 2rem;
  }

  &__file-img-box {
    width: 4rem;
    height: 4.8rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__file-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.5rem;

    > *:last-child {
      color: $grayDark;
    }
  }

  &__file-del {
    width: 2.5rem;
    height: 2.5rem;

    > svg {
      width: 100%;
      height: 100%;

      path {
        fill: $black;
      }
    }

    &:hover {
      > svg {
        path {
          fill: $red;
        }
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 21.2rem;
    padding: 2rem 2.4rem;
    border: 1px solid #D4D4D8;
    font-weight: 500;
    font-size: 1.7rem;

    &::placeholder {
      color: $grayDark;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 48em) {
  .form {
    gap: 4rem;

    .button {
      order: 10;
    }

    &__item {
      &.select-label {
        padding-right: 8rem;
      }

      &--30 {
        flex: 100%;
        max-width: none;
      }

      &--50 {
        flex: 100%;
        max-width: none;
      }

      &--100 {
      }
    }

    &__label {
      height: 11.6rem;

      .error-icon {
        right: 4rem;
        width: 5rem;
        height: 5rem;
      }

      &.error {
        input,
        textarea {
          padding-right: 10rem;
        }
      }

      &--textarea {
        height: auto;

        .error-icon {
          top: 3.2rem;
          right: 4rem;
          transform: none;
        }
      }
    }

    &__input {
      padding: 0 4rem;
      font-size: 3rem;
    }

    &__upload-box {
      order: 7;
    }

    &__upload {
      flex: none;
      gap: 3rem;
      font-size: 3rem;
      line-height: 4.5rem;

      > svg {
        width: 11.2rem;
        height: 7.2rem;
      }
    }

    &__file {
      gap: 3rem;
    }

    &__file-img-box {
      width: 6.4rem;
      height: 8rem;
    }

    &__file-info {
      gap: 1rem;
      font-size: 3rem;
      line-height: 4.5rem;

      > *:last-child {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.4rem;
      }
    }

    &__file-del {
      width: 4rem;
      height: 4rem;
    }

    &__textarea {
      height: 43.4rem;
      padding: 3.2rem 4rem;
      font-size: 3rem;
      resize: none;
    }

    &__footer {
      order: 8;
      gap: 6rem;
      flex-direction: column;
      align-items: normal;
      justify-content: normal;

      .g-recaptcha {
        order: 2;
      }
    }
  }
}