.modal {
  position: relative;
  display: none;
  width: 94rem;
  padding: 6rem;
  margin-bottom: 0;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 15rem);
    background-color: white;
  }

  &:after {
    content: '';
    position: absolute;
    left: -5.1rem;
    bottom: 2px;
    z-index: -1;
    width: 100%;
    height: 15rem;
    transform: skew(-35deg);
    background-color: white;
  }

  &__close {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: 0.3rem;
      border-radius: 10rem;
      background-color: black;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: 0.3rem;
      border-radius: 10rem;
      background-color: black;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__stage {
    .fancybox-content {
      padding: 0;
      background-color: transparent;
      overflow: hidden;
    }
  }
}

@media (max-width: 48em) {
  .modal {
    width: 67rem;
    padding: 7rem 7rem 8rem 7rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: calc(100% - 18rem);
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: -6rem;
      bottom: 2px;
      z-index: -1;
      width: 100%;
      height: 18rem;
      transform: skew(-35deg);
      background-color: white;
    }

    &__close {
      width: 6.4rem;
      height: 6.4rem;

      &:before {
        height: 2px;
      }

      &:after {
        height: 2px;
      }
    }

    &__stage {
    }
  }
}