.modal-buy {
  &__text {
    margin-bottom: 7rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.1rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__btn {
    isolation: isolate;

    &:last-child {
      background-color: $blue;

      &:before {
        background-color: $blue;
      }
    }
  }
}

@media (max-width: 48em) {
  .modal-buy {
    &__text {
      width: 42.8rem;
      margin: 0 auto 7rem auto;
      font-size: 5rem;
      line-height: 6rem;
      text-align: center;
    }

    &__buttons {
      flex-direction: column;
      gap: 3.4rem;
    }

    &__btn {
      width: 40rem;
    }
  }
}