.modal-buy {
  position: relative;
  display: none;
  width: 94rem;
  padding: 6.5rem;
  margin-bottom: 0;
  cursor: default;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 15rem);
    background-color: white;
  }

  &:after {
    content: '';
    position: absolute;
    left: -5.2rem;
    bottom: 1px;
    z-index: -1;
    width: 100%;
    height: 15rem;
    transform: skew(-35deg);
    background-color: white;
  }

  &__text {
    margin-bottom: 7rem;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.1rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__btn {
    isolation: isolate;

    &:last-child {
      background-color: $blue;

      &:before {
        background-color: $blue;
      }
    }
  }

  &__close {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.3rem;
    height: 3.3rem;

    > svg {
      width: 100%;
      height: 100%;

      path {
        fill: $red;
      }
    }
  }

  &__stage {
    .fancybox-content {
      padding: 0;
      background-color: transparent;
      overflow: hidden;
    }
  }
}

@media (max-width: 48em) {
  .modal-buy {
    width: 67rem;
    padding: 7rem 7rem 8rem 7rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: calc(100% - 13rem);
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: -4.4rem;
      bottom: 1px;
      z-index: -1;
      width: 100%;
      height: 13rem;
      transform: skew(-35deg);
      background-color: white;
    }

    &__text {
      width: 42.8rem;
      margin: 0 auto 7rem auto;
      font-size: 5rem;
      line-height: 6rem;
      text-align: center;
    }

    &__buttons {
      flex-direction: column;
      gap: 3.4rem;
    }

    &__btn {
      width: 40rem;
    }

    &__close {
      width: 4rem;
      height: 4rem;
    }

    &__stage {
    }
  }
}