.stat {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28rem;
  margin-bottom: 21rem;

  &__bg {
    position: absolute;
    left: 0;
    top: -15.8rem;
    width: 100%;
    height: 86.4rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    z-index: 1;
    display: flex;
    gap: 4.5rem;
  }

  &__item {
    flex: 22%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 32.4rem;
    color: white;
  }

  &__item-title {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.4;
  }

  &__item-separator {
    width: 100%;
    height: 1px;
    margin-top: auto;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__item-number {
    font-family: $mont;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
  }
}

@media (max-width: 48em) {
  .stat {
    height: 46rem;

    &__bg {
      top: -7rem;
      height: 75rem;
    }

    &__container {
      column-gap: 0;
      row-gap: 5rem;
      flex-wrap: wrap;
    }

    &__item {
      flex: 50%;
      gap: 1rem;
      max-width: none;
      padding-bottom: 3rem;
      border-bottom: 1px solid #FFFFFF33;
      text-align: center;
      color: white;

      &:nth-child(odd) {
        padding-right: 2rem;
      }

      &:nth-child(even) {
        padding-left: 2rem;
      }
    }

    &__item-title {
      order: 2;
      font-size: 3rem;
    }

    &__item-separator {
      display: none;
    }

    &__item-number {
      font-size: 6rem;
    }
  }
}