@import "param";
@import "set";
@import "components";

@import "header";
@import "footer";
@import "intro";
@import "stat";
@import "category-slider";
@import "seo";
@import "advantages";
@import "about";
@import "news";
@import "news-page";
@import "history";
@import "intro-b";
@import "store";
@import "validator";
@import "corp";
@import "photo-folder";
@import "video";
@import "feedback";
@import "form";
@import "tabs";
@import "docs";
@import "news-portal";
@import "photo-tab";
@import "map";
@import "contacts";
@import "contacts-b";
@import "list";
@import "advantages-stat";
@import "phone-contact";
@import "catalog";
@import "filter";
@import "catalog-slider";
@import "product";
@import "modal";
@import "modal-buy";
@import "career";
@import "reviews";
@import "modal-reviews";
@import "error-404";
@import "article";
@import "article-advantages";
@import "article-number";
@import "news-article";
@import "modal-add-review";


.fancybox-container {
  backdrop-filter: blur(0.5rem);
}

.fancybox-bg {
  background: rgba(1, 74, 147, 0.6);
}

.video-close {
  right: -2rem;
  top: 0;
  width: 4rem;
  height: 4rem;
  transform: translateX(100%);
  opacity: 1;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: black;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }

  .fancybox-slide {
    padding: 4rem;
  }

  .video-close {
    right: 0;
    top: -1.6rem;
    width: 6.4rem;
    height: 6.4rem;
    transform: translateX(0) translateY(-100%);

    &:before {
      height: 3px;
    }

    &:after {
      height: 3px;
    }
  }
}