@import "param";
@import "set";
@import "components";

@import "header";
@import "footer";
@import "intro";
@import "stat";
@import "category-slider";
@import "seo";
@import "advantages";
@import "about";
@import "news";
@import "news-page";
@import "history";
@import "intro-b";
@import "store";
@import "validator";
@import "corp";
@import "photo-folder";
@import "video";
@import "feedback";
@import "form";
@import "tabs";
@import "docs";
@import "news-portal";
@import "photo-tab";
@import "map";
@import "contacts";
@import "contacts-b";
@import "products";
@import "advantages-stat";
@import "phone-contact";


.fancybox-container {
  backdrop-filter: blur(0.5rem);
}

.fancybox-bg {
  background: rgba(1, 74, 147, 0.6);
}

.video-close {
  right: -3rem;
  top: 0;
  width: 5rem;
  height: 5rem;
  transform: translateX(100%) translateY(-0.8rem);
  opacity: 1;

  > svg {
    path {
      fill: $red;
    }
  }

  &:hover {
    opacity: .7;
  }
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }

  .fancybox-slide {
    padding: 4rem;
  }

  .video-close {
    right: -1.6rem;
    top: 0;
    width: 7.2rem;
    height: 7.2rem;
    transform: translateX(0) translateY(-100%);
  }
}