@font-face {
    font-family: 'Montserrat';
    src: url('subset-Montserrat-Bold.woff2') format('woff2'),
        url('subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('subset-Montserrat-SemiBold.woff2') format('woff2'),
        url('subset-Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Bold.woff2') format('woff2'),
        url('subset-Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Medium.woff2') format('woff2'),
    url('subset-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}